[2019-09-09 00:48] jackzerby commented on #465
Nevermind, it looks like you have to put "render xml: response.to_s" instead of just "render xml: response" on the .say line. Weird

[2019-09-09 00:48] #465 closed

[2019-09-10 03:49] bf4 commented on #406
@childish-sambino I meant that changing from using `URI.encode`/ `URI.escape`, which is deprecated.

As rubocop writes

[code]

returning

[code]

to `CGI.escape` or some equivalent

[code]

returns

[code]

which is actually ok.  I don't have the exact failing test from before. Oh well.

All is well, I guess

[2019-09-10 13:43] bf4 commented on #406
Ah, here was the example where changing `URI.escape` to `CGI.escape` breaks

request

[code]

response

[code]

[code]

[2019-09-11 17:16] childish-sambino commented on #401
Sounds like a legitimate request. I'll look into creating a PR.

[2019-09-11 17:18] #432 closed

[2019-09-11 17:21] childish-sambino commented on #439
Looks like just the issue template got submitted. Could you add some details about the problem you're having and re-open?

[2019-09-11 17:21] #439 closed

[2019-09-13 14:57] childish-sambino commented on #406
Ah, this is making sense now. Thanks @bf4 for the clarification. I was getting confused between the space, `+`, `%20`, and the leading country code `+` prefix.

So at one point the lib did the `URI.encode`, but that is no longer the case when we switched to auto-generating that code. There was no exceptional case added for phone numbers being part of the URL (not query or body params) so they are

[2019-09-13 18:42] childish-sambino commented on #402
Answered here: https://github.com/lostisland/faraday/issues/708#issuecomment-477614664

[2019-09-13 18:42] #402 closed

[2019-09-13 18:54] childish-sambino commented on #362
Working on a fix now.

[2019-09-13 20:07] #362 closed

[2019-09-13 20:08] #406 closed

[2019-09-13 21:25] childish-sambino commented on #455
Makes sense to me. Essentially, this lib should not be _leaking_ Faraday errors and should instead wrap them appropriately. Working on a PR.

[2019-09-16 13:59] childish-sambino commented on #457
Do you have any additional configuration on the HTTP client? Using a proxy or non-default adapter?

Just trying to determine if this is multiple issues of just one. The Twilio API should not be returning `5XX`s in an HTML response, but the lib should be able to gracefully handle JSON parsing errors.

[2019-09-16 16:35] #455 closed

[2019-09-16 18:06] bf4 commented on #457
Nope. Just Faraday without anything configured

[2019-09-16 18:56] childish-sambino commented on #457
Hrm, do you have a working sample that consistently throws these errors?

[2019-09-17 15:47] #345 closed

[2019-09-17 15:55] childish-sambino commented on #451
You can call `dial` multiple times on the same `VoiceResponse` to add multiple numbers. There's an example here using block-syntax: https://www.twilio.com/docs/voice/twiml/number?code-sample=code-multi-dial-with-call-progress-events-3&code-language=Ruby&code-sdk-version=5.x

[2019-09-17 15:55] #451 closed

[2019-09-17 18:58] childish-sambino commented on #251
The message list API now contains a few filters, including date filtering, and is included in the Ruby helper lib. As far as I know, there is no plan to support skipping to a particular page in the result set. Each page of results contains a key that is used to fetch the next page of results. If an item is deleted mid-paging, I don't think it affects the rest of the result set as the page key is b

[2019-09-17 18:58] #251 closed

[2019-09-17 19:14] childish-sambino commented on #434
This is not a change that can be made in the library. An internal ticket has been filed against the relevant product team.

[2019-09-17 19:14] #434 closed

[2019-09-17 19:47] childish-sambino commented on #452
When sending the WhatsApp, both the `to` and `from` numbers need to have the `whatsapp:` prefix.

[2019-09-18 13:02] audiolion commented on #434
Ok thank you

[2019-09-25 09:13] hsmallbone commented on #464
Sorry for the delayed response - IME, the context property has always been a blank hash and the context method actually gives me the contextual details I'd expect. context_property makes sense to me? But I really wanted the context method not the hash.

[2019-09-25 14:54] childish-sambino commented on #464
Yup, makes sense.

Adding this issue to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2019-09-25 14:55] #442 closed

[2019-09-25 14:56] #429 closed

[2019-09-27 17:37] alexford commented on #396
I put together a very small (no external dependencies) helper gem for sending SMS via the API: https://github.com/alexford/twilito

If, like me, you just need to send SMS and don't need the rest of the currently RAM-hungry Twilio library, it might help you. It has not been tested in the wild yet but it's pretty simple. PRs/issues welcome!

[2019-10-16 20:54] mgomes opened #478 "Using an API Key Results in HTTP 400"
It doesn't look like the twilio-ruby client has support for using revocable API keys rather than an account_sid. Is this the case? If not, could you please point me to the code or docs for reference?

Thanks!

**Version:**
5.23.0

### Code Snippet

The README and docs only specify instantiating a client with an account_sid and auth_token.
From the docs:

[code]

### Exception/Log
If I instantiate

[2019-10-16 20:57] childish-sambino commented on #478
Try sticking the account SID after the secret.

[2019-10-16 20:59] mgomes commented on #478
@childish-sambino like just concatenate the two without a space?

[2019-10-16 21:00] childish-sambino commented on #478
Sorry, meant as the 3rd arg:
[code]

[2019-10-16 22:41] mgomes commented on #478
Thanks, @childish-sambino. That did the trick! 🙌

[2019-10-16 22:41] #478 closed

[2019-10-25 19:04] ErikAGriffin commented on #396
We were using this gem solely for the functionality of authenticating incoming SMS webhooks to our gem, making its size quite excessive for such a small feature.

I extracted the authentication functionality out of this gem and packaged it separately here:
https://github.com/pathrise-eng/twilio-ruby-authenticate-webhooks

Will try to keep it updated/maintained in the future if people @ me with not

[2019-10-25 19:52] childish-sambino commented on #396
@ErikAGriffin Note that the validation logic was updated recently in this repo: https://github.com/twilio/twilio-ruby/pull/481

[2019-10-26 18:19] tonydehnke commented on #396
Seeing similar issues on memory footprint with gem version 5.28, Rails 5.2.3  at around 20% of total memory:  twilio-ruby: 19.25 MiB.  My second largest after Rails-all from what I can see.   Currently only using SMS send so may take a look at the options listed above.

[2019-10-29 09:41] piotr-galas opened #482 "Typo in documentation"
*Note: These issues are for bugs and feature requests for the helper libraries.
If you need help or support, please email help@twilio.com and one of our experts
will assist you!*

## You have a typo in documentation that make integration more difficult.

At the page:

https://www.twilio.com/docs/video/tutorials/user-identity-access-tokens#ruby

In the initializer there is a mistake

![img](https:/

[2019-10-29 14:08] sbaar opened #483 "Task list default page size is 50, not 1000"
In the 5.28.0 version in the [taskrouter workspace task file](https://github.com/twilio/twilio-ruby/blob/master/lib/twilio-ruby/rest/taskrouter/v1/workspace/task.rb) the list function will return a list of all tasks without limit. It will do so by default with a page size of 50, even though it is more efficient on the client and the twilio servers to default to the max, 1000.

To be clear, the doc

[2019-10-29 14:09] childish-sambino commented on #482
Thanks! Nice catch. I've submitted the change for review. Will update here when it's been approved.

[2019-11-01 14:44] childish-sambino commented on #483
It's not necessarily more efficient to use a larger page size (really depends on backing datastore and implementation), and there are several Twilio resources that clients are likely to get better results with by using smaller page sizes.

That said, the pattern should be avoided where a large number of items are being pulling on a frequent basis as it can be expensive for both the client and the

[2019-11-01 15:15] sbaar commented on #483
Long term, we are architecting our system to rely on infrequent twilio list pulls and transformative webhooks to our cache.

I get what you're saying and it makes sense for the page function(). If you are just sampling the resource or getting the most recent, page()'s current defaults make sense.

My gripe is with list(). list, by default, grabs all the tasks without limit, so maximizing page size

[2019-11-01 15:44] childish-sambino commented on #483
It's relating back to the point that larger page sizes may not be more efficient. Yes, the result will be the same, but the _cost_ is different in terms of the number of API calls, individual payload sizes, and total time. Based on the backing implementation, the total time _could_ increase with a larger page size.

The code samples on the Twilio dos include an explicit limit in all the `list` exa

[2019-11-01 19:32] lluchez commented on #170
Was this issue ever resolved? Is there any work around?

[2019-11-01 19:46] childish-sambino commented on #170
@vickyshah129 @lluchez The best path forward is in the above comment: https://github.com/twilio/twilio-ruby/issues/170#issuecomment-328929009

This is not something that can be solved in the helper library and the solution is not universal. Recommend opening a support ticket with specific message SIDs.

[2019-11-11 17:26] #457 closed

[2019-11-11 17:56] bf4 commented on #457
@childish-sambino I included my code and the error document. It was a twilio server error, which I believe was related to an incident that day.

:)

[2019-11-22 18:19] childish-sambino commented on #482
Doc fix pushed: https://www.twilio.com/docs/video/tutorials/user-identity-access-tokens#ruby

[2019-11-22 18:19] #482 closed

[2019-11-22 18:20] childish-sambino commented on #435
Fixed by #445

[2019-11-22 18:20] #435 closed

[2019-11-28 09:13] stephancom commented on #396
I had the exact problem, as seen in a few top-level lines from my `derailed` output:

[code]

Bigger than rails, or almost as big as AWS and GraphQL combined, and like others, I was just using it to send a few SMS messages.  I replaced it with Twilito (thank you @alexford !) and now:

[code]

Not as much difference as I'd hoped but a good 10% or so, surely worth the trouble.  Oh, yeah, and Twilito

[2019-12-03 06:16] ruhilambe commented on #395
How was this solved?

Facing the same error for array of urls in the MediaUrl parameter.

[2019-12-03 15:19] childish-sambino commented on #395
@ruhilambe If it's a transient error, then it's unlikely to be an issue with this client library. Recommend [filing a support ticket](https://twilio.com/help/contact) and including the request ID to help debug.

[2019-12-09 16:13] rylanb opened #486 "After v5.29.1 upgrade, getting Twilio::REST::TwilioError -> "execution expired" errors"
**Version:**
v5.29.1 (recently upgraded from v4.13.0

### Code Snippet
[code]

### Exception/Log
[code]

### Steps to Reproduce
1. Send ~ 5000 texts one at a time via Textris, I guess?
2. We send about 20k texts/day over 3-4 hours in the AM.

I recently upgraded the `twilio-ruby` gem and noticed that there was an http_client added using Faraday, so I'm starting here but will be reaching out to Twi

[2019-12-09 16:30] childish-sambino commented on #486
No similar issues that I know of. Sounds like a transient network issue. Recommend adding retry logic. There have been a lot of changes since v4.

[2019-12-09 16:32] rylanb commented on #486
Ok, will update if support adds any extra details there. I figured it was something like that, was just curious that it was tied directly to the gem upgrade and the errors starting. Perhaps they are just being surfaced properly now, where before they were not.

[2019-12-10 03:56] rylanb commented on #486
Thanks, support agreed with you, so I'll institute retries and consider this closed! Thanks for letting me troubleshooting / bother you.

[2019-12-10 03:56] #486 closed

[2019-12-18 12:27] killondark opened #487 "Update version gem Faraday dependency"
I want to use **Active Storage** with **google-cloud-storage** gem. But

[code]
Please update version **faraday** dependecy in **twilio-ruby**

**Version: 5.31.0**

[2019-12-18 15:29] childish-sambino commented on #487
Version `5.31.0` of this lib has a dependency on `'faraday', '~>0.9'` which currently evaluates to `0.17.1`: https://github.com/twilio/twilio-ruby/blob/master/twilio-ruby.gemspec#L29

[2019-12-18 16:57] killondark commented on #487
Thank you

[2019-12-18 18:52] #487 closed

[2020-02-06 16:38] #483 closed

[2020-02-06 23:44] bf4 opened #493 "Docs missing for setting recommended timeouts"
### Issue Summary

We just got an 'execution expired' net open timeout from twilio (`Twilio::REST::TwilioError`) , which is fine, it happens, but because we're on Heroku, we need to limit requests to less than 30 seconds else they close it. I saw an error in the log and the customer said the request took a very long time (we validate phone numbers on some object creation using the lookup api).

Wh

[2020-02-07 14:58] childish-sambino commented on #493
Makes sense to me. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-02-09 23:21] jscheid opened #494 "Paged requests must include a PageToken"
### Issue Summary

We have >800 subaccounts. Trying to list them with `accounts.stream` triggers an error like so:

[code]

The block gets called 800 times before the error is thrown. In other words, we can list the first 800 accounts but then it breaks.

Using `list` instead of `stream` throws the same error.

Using something like `list(limit: 10_000)` works, but it would be nice if we could use

[2020-02-10 14:40] bf4 commented on #493
@childish-sambino thanks. I could figure out from a quick code read and poking at it how to configure the twilio http client globally

[2020-02-10 16:47] childish-sambino commented on #494
Unfortunately this is an issue with the API and not a fix that can/should be made in the library. An internal ticket has been filed against the relevant product team (_DEVX-6046_). I can circle back here when it's resolved, but it's been an issue for a while.

[2020-02-10 16:47] #494 closed

[2020-02-10 19:13] jscheid commented on #494
Good to know, thanks.

[2020-02-21 15:38] johnnyshields opened #496 "No way to upload a file for SupportingDocuments"
According to the API docs [here](https://www.twilio.com/docs/phone-numbers/regulatory/api/supporting-documents?code-sample=code-create-a-supporting-document-and-upload-a-file&code-language=curl&code-sdk-version=default) it seems CURL is the only way to add a file to a SupportingDocument. Please support this properly via this gem.

[2020-02-24 18:38] childish-sambino commented on #496
We're looking into supporting this across the helper libraries, but no definitive plans yet. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-02-25 03:23] johnnyshields commented on #496
It boggles the mind that Twilio would release this Regulatory docs requirement without proper API support.

[2020-03-18 09:29] eftikharEmad opened #500 "Twilio Add-on error : Bad request code:61005"
### Issue Summary
I am using voicebase add-on, every thing was fine till this morning , I make calls normally but I am getting Bad request code:61005 (https://www.twilio.com/docs/api/errors/61005) for the call back on transcriptions. any Idea about this ??

thank you

[2020-03-18 17:45] childish-sambino commented on #500
Best to [file a support ticket](https://twilio.com/help/contact) in order to debug what's going on.

[2020-03-18 17:45] #500 closed

[2020-03-19 11:11] dhara-thacker opened #501 "Unable to generate Capability Token"
### Issue Summary
I'm trying to generate capabilities token. And I'm getting below error while doing that:
NameError (uninitialized constant Twilio::JWT::Capability)

Checkout my code to make sure I'm doing in the correct manner:

[code]
The last line in the above code produces the above mentioned error. Kindly help.

Note::

Twilio gem and all other things are configured properly. As I'm already

[2020-03-19 17:21] childish-sambino commented on #501
Is this for a `TaskRouterCapability`?

[code]

[2020-03-20 04:06] dhara-thacker commented on #501
@childish-sambino  Thanks for your help.

I had tried this and that worked. But it's not what I'm looking for.  Checkout this link:

https://www.twilio.com/docs/voice/client/tutorials/capability-tokens

```@client = Twilio::JWT::ClientCapability.new(account_sid, auth_token)```

This does create an instance for me. But then I cannot go ahead as shown in the above link.

i.e.
[code]

```allow_client

[2020-03-20 15:13] childish-sambino commented on #501
Ah, thanks for the link. Looks like that doc is incorrect. Working on a proper example ...

[2020-03-20 15:27] childish-sambino commented on #501
This works for me:
[code]

[2020-03-23 04:34] dhara-thacker commented on #501
@childish-sambino :

Hey, thanks for such a prompt response. This worked for me..
Thanks again :)

[2020-03-23 04:34] #501 closed

[2020-03-29 15:04] jeremy04 opened #503 "Documentation for streaming message logs"
### Issue Summary

Hello! I ran into an issue with using `@client.messages.list` due to the size of my message logs exceeding 1000.

I resolved my issue by using `@client.messages.stream` instead.

It would be nice to have additional documentation for this public api:
`@client.messages.stream`

somewhere close by:
https://www.twilio.com/docs/sms/api/message-resource?code-sample=code-read-list-mess

[2020-03-30 14:33] childish-sambino commented on #503
Not sure why you're seeing an issue with more than 1k results. `list` basically just calls `stream` and gets the full array. If it's an issue with heap memory, then yes, it's best to not use `list` in general unless you're just looking for the last _X_ records.

[2020-03-30 19:55] jeremy04 commented on #503
Thank you for the explanation!

I was unsure about >1k, due to trying `limit: 5000` but the method was returning 1000. which makes sense now (last x records).  I also had to change the page_size to 1000 to allow the `list` call to actually finish in a timely manner ( I didn't wait long enough):

[code]

Going to close this issue

[2020-03-30 19:55] #503 closed

[2020-04-02 09:38] RentlyNandha opened #504 "undefined method `wireless' for #<Twilio::REST::Client:0x0055ac2adcb578>"
undefined method `wireless' for #<Twilio::REST::Client:0x0055ac2adcb578>

version 3.11.0

code:
 require 'twilio-ruby'

      account_sid = Figaro.env.twilio_account
      auth_token = Figaro.env.twilio_secret
      # set up a client to talk to the Twilio REST API
      client = Twilio::REST::Client.new(account_sid, auth_token)
      sim = client.wireless.sims('').fetch

[2020-04-06 22:17] childish-sambino commented on #504
`3.11.0` is pretty old and probably did not contain the wireless APIs. Are you able to upgrade to a later release?

[2020-04-08 01:21] DRBragg opened #509 "ArgumentError (JWT does not have a signing key)"
### Issue Summary
I'm attempting to generate an access token from my rails app for use with video calling. I'm following the instructions of the example code from the [Twilio dashboard](https://www.twilio.com/console/video/project/testing-tools) and this [repos wiki](https://github.com/twilio/twilio-ruby/wiki/JWT-Tokens#access-tokens).  When the method runs i get `ArgumentError (JWT does not have

[2020-04-08 14:47] childish-sambino commented on #494
This has now been resolved.

[2020-04-09 13:57] childish-sambino commented on #509
This error is raised when the secret is nil. Recommend testing to make sure the env vars are being read properly.

[2020-04-09 17:43] DRBragg commented on #509
I popped a pry in there and checked it all out.  Looks like everything is working until I call `Twilio::JWT::AccessToken.new`.  Even passing in hard coded values I get the same error.  It's weird, I looked through this repo's code and you're right I should only get that error with a nil value is passed for secret but I get it no matter what.  I'll have to keep looking.  Feel free to close this iss

[2020-04-09 18:47] childish-sambino commented on #509
🤷 Just tried this and it was fine:
[code]

[2020-04-11 20:21] DRBragg commented on #509
Yea, I was trying the same thing but still had the problem. Luckily, we found the issue and it wasn't related to this gem. Sorry for opening an unnecessary issue.

[2020-04-11 20:21] #509 closed

[2020-04-30 15:09] mlapping commented on #493
data point for whoever does this: https://github.com/ankane/the-ultimate-guide-to-ruby-timeouts/blob/master/test/twilio_test.rb

[2020-05-08 14:51] #504 closed

[2020-06-11 20:15] bf4 commented on #493
seems related to https://github.com/twilio/twilio-ruby/pull/514/files https://github.com/twilio/twilio-ruby/pull/513 where the answer can be something like

[code]

bearing in mind that twilio doesn't distinguish the two timeout types and doesn't provide a writer for either

[code]

[2020-06-16 21:12] bf4 commented on #493
Hijacking my own issue since related

- we're getting a `Twilio::REST::TwilioError: execution expired` from a timeout setting of 10 seconds
- it's on message creation
- per  https://support.twilio.com/hc/en-us/articles/360007130274-Requirements-for-Connecting-to-the-Twilio-REST-API-and-Troubleshooting-Common-Issues we *could* wait 26 seconds to see if twilio will grace us with a 500 error and code

[2020-06-29 11:36] adrianmann opened #517 "undefined method `video' for #<Twilio::REST::Client"
I am getting the error in the title, do I have an incorrect version for video or something?

### Code Snippet
[code]

### Technical details:
* twilio-ruby version: gem 'twilio-ruby', '= 3.14.5'
* ruby version: 2.4.10

[2020-06-29 12:35] adrianmann commented on #517
Needed to upgrade version, thanks.

[2020-06-29 12:35] #517 closed

[2020-07-05 02:00] bf4 commented on #493
What I ended up writing in my support ticket before closing it

My support rep responded to this with

[2020-07-09 01:42] engshien opened #518 "lookups.v1.phone_numbers(..).fetch(..) fails with ArgumentError"
### Issue Summary
lookups.v1.phone_numbers(..).fetch(..) fails with ArgumentError in [generated code](https://github.com/twilio/twilio-ruby/blob/704ed3d6cfd2cd7038511b75089a66a57e2051a3/lib/twilio-ruby/rest/lookups/v1/phone_number.rb#L105
)

### Steps to Reproduce
Run code snippet

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: twilio-ruby-5.39.0
*

[2020-07-09 02:02] engshien commented on #518
I think `fetch(.., params = {} ...)`  is now `fetch(..., params: {} ...)`.

[2020-07-09 15:25] bf4 opened #519 "RFC: Allow both/or configuring a shorter Twilio-side global timeout or shorter timeout for POST requests"
### Issue Summary

1. Twilio usually responds within a second
1. We need requests to be quick because e.g. for phone number lookup we have to complete the request within 30 seconds due to Heroku router constraints
1. We set the http client time out to 10 seconds which seems reasonable
1. When we get an execution expired due to http client timeout on message send, it's possible that Twilio eventual

[2020-07-10 00:40] eshanholtz commented on #518
Nice catch. Unfortunately this was a bug introduced during a refactor done to support custom header parameters in the underlying API in #515 and #516. I tried to ensure backwards compatibility, but apparently none of our autogenerated integration tests for fetch have `params` passed in. I will work on a fix for this and release a patched version. Thanks!

[2020-07-10 22:25] #518 closed

[2020-07-10 23:05] eshanholtz commented on #518
Fix released in patch [version 5.39.1](https://github.com/twilio/twilio-ruby/releases/tag/5.39.1)

[2020-07-13 18:27] thinkingserious commented on #519
Additional context: https://github.com/twilio/twilio-ruby/issues/493

[2020-07-14 10:51] kevinchugh opened #521 "GSM encoding on SMS"
### Issue Summary
Can you force GSM encoding on SMS to reduce cost?  (https://www.twilio.com/blog/2017/03/what-the-heck-is-a-segment.html)

### Steps to Reproduce

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version:
* ruby version:

[2020-07-14 22:05] thinkingserious commented on #521
Hello @kevinchugh,

We don't have a means to force GSM encoding via the helper library or API. However, per [this documentation](https://www.twilio.com/docs/glossary/what-is-gsm-7-character-encoding), when sending SMS messages with Twilio, we'll automatically send messages in the most compact encoding possible.

With best regards,

Elmer

[2020-07-14 22:05] #521 closed

[2020-07-15 19:47] luchiago opened #522 "Question: Create a room with end time"
### Issue Summary
I want to know if there's any way to create a room with a specific end time

### Steps to Reproduce
1. Create a room

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: 5.37.0
* ruby version: 2.6.5

[2020-07-16 17:59] childish-sambino commented on #522
Nothing that I could find, other than using a scheduler of sorts to mark the room `completed` at a certain time.

[2020-07-16 18:15] luchiago commented on #522
@childish-sambino Thanks for answering me so quickly. Yeah, I'm using sidekiq to schedule the update of the status, but I'm having some trouble with it. I asked about this way bc it's a workaround for me.

[2020-07-16 18:39] childish-sambino commented on #522
Best thing to do would be to reach out to [support](https://support.twilio.com). The support and product teams use tickets there to track product feature requests.

[2020-07-16 18:58] luchiago commented on #522
Alright. Thanks again @childish-sambino

[2020-07-16 19:04] #522 closed

[2020-07-21 22:19] bf4 opened #523 "RFC: configure sending an X-Request-Id header for use by twilio engineers in debugging requests"
### Issue Summary

A twilio engineer in a support ticket has asked me to add an [`X-Request-Id`](https://blog.heroku.com/http_request_id_s_improve_visibility_across_the_application_stack
) header to requests we make, and though adding custom headers [is supported in the library in general](https://github.com/twilio/twilio-ruby/blob/5b96b5413bf61b0fab38e135a0828471cfa652a8/lib/twilio-ruby/framework

[2020-07-22 00:31] bf4 commented on #523
In the meantime, I made this patch in our app

[code]

[2020-07-22 17:21] JohnnyMorbo opened #524 "MessageInstance.to_json doesn't return JSON"
### Issue Summary
When I call .to_json on a message object, I don't get a JSON string, I get something like:
"\"<Twilio.Api.V2010.MessageInstance account_sid: AC<my account sid> sid: SM<message sid>>\"

I was expecting something like:
" { body: "Testing 1,2,3", to: "+11234567890", from: "+10987654321", account_sid: "blah blah" }"
that I could use the JSON parser on.

Is this a bug, or user error?

[2020-07-24 23:06] eshanholtz commented on #523
Hi @bf4

I would recommend using passing a [custom HTTP client](https://www.twilio.com/docs/libraries/php/custom-http-clients-php) and adding your custom headers there for this use case. The custom headers referred to in #516 are the ones defined by the downstream API and auto-generated into the helper libraries.

[2020-07-25 02:48] bf4 commented on #523
@eshanholtz my patch is working now so I think I'll just keep using it until either Twilio support says the header doesn't help or it gets first class support from Twilio

[2020-07-26 16:07] JohnnyMorbo commented on #524
I can get the response I am expected by using:
`MessageInstance.instance_variable_get(:@properties).to_json`
But this seems, to me, an inelegant solution.
I think I should be able to just use
`MessageInstance.to_json`
to get a JSON representation of the message.

- twilio-ruby version: 5.39.2

[2020-07-26 17:13] JohnnyMorbo commented on #524
And/Or, add an attr_reader for `@properties` so I can get the Hash, like
[code]

[2020-07-27 17:41] eshanholtz commented on #524
Hi @JohnnyMorbo, can you tell me more about your use case? It sounds like you want access to the underlying API Response payload, which should be the same as adding a `attr_reader` for `@properties`, as you mentioned. This would require a change to our generated code. This feature request has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help

[2020-07-27 19:56] eshanholtz commented on #523
@bf4 Sounds good. I'm going to close this ticket. You can reopen if you require further library help.

[2020-07-27 19:56] #523 closed

[2020-07-28 02:10] JohnnyMorbo commented on #524
Hi @eshanholtz, sorry about my stream-of-consciousness updates.  Let me try to summarize:
The existing `MessageInstance.to_json` method does not return a valid JSON string.  I think this is a bug, so this method should either be patched or removed.  Unless the original author had a different intent for the .to_json method, I think it should be patched so it emits a JSON string of the API response

[2020-07-28 02:19] JohnnyMorbo opened #525 "feature request: MessageInstance.to_h"
I would like a new method `MessageInstance.to_h` that emits a Hash object of the `@properties` attribute.

This would allow me to easily inspect the contents of the entire `@properties` without iterating over each attribute by name.

I think this should be a pretty simple code change (famous last words!), adding something like:
[code]
This won't require any code maintenance in the future if, for i

[2020-07-28 02:29] JohnnyMorbo commented on #525
Just a comment:
As I noted elsewhere, the `@properties` hash actually is available if you call `MessageInstance.get_instance_variable(:@properties)`
but this seems...uh..._bad_ to me.

I'm actually a ruby noob, so maybe I just don't understand how this stuff is supposed to work, but it seems to me that allowing access - even if it's just read access - to an arbitrary instance variable is undesirab

[2020-07-28 07:32] JohnnyMorbo commented on #524
I've now taken a look at the code, and...
I can't find where .to_json is defined.  However, it seems to output the same thing as MessageInstance.to_s
The intention of .to_s seems to be to just output a representation of the object class, and then the `@params` (**not** `@properties`)
Which is fine, although the object class it reports isn't really right, it's just there for convenience and probabl

[2020-07-28 17:56] eshanholtz commented on #524
This library doesn't currently support a `.to_json` method. You are welcome to submit a PR with your proposed changes to the resource you're talking about that we can use as an example for incorporating into our generated code. Otherwise, this feature request has been added to our internal backlog to be prioritized.

[2020-07-28 19:55] eshanholtz commented on #524
@JohnnyMorbo, If you're just looking to inspect the JSON payload for debugging reasons, the underlying http client stores the last request and last response for this purpose:
[code]
Note that the [Twilio Response returned](https://github.com/twilio/twilio-ruby/blob/main/lib/twilio-ruby/http/http_client.rb#L46) from the underlying http client's request call is [used to initialize the `MessageInstan

[2020-07-28 20:03] eshanholtz commented on #525
Closing in favor of #524

[2020-07-28 20:03] #525 closed

[2020-07-28 21:17] #524 closed

[2020-08-05 15:59] jstrouse opened #527 "Toll Free filter on incoming phone numbers is no longer working."
### Issue Summary
The list of toll-free incoming numbers is no longer working.  In order to figure out if a phone number is toll-free and appropriately charge for it, we were getting the list of toll-free numbers using to the toll_free filter on incoming phone numbers, but sometime in the last week that quit working.

### Steps to Reproduce
Run a list of toll free numbers and notice that it's the

[2020-08-05 20:49] eshanholtz commented on #527
Hi @jstrouse, this does not appear to be a library-specific bug. In order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact)

[2020-08-05 20:49] #527 closed

[2020-08-18 04:33] afleishaker commented on #170
@vickyshah129 @lluchez @ anyone else interested:

In speaking to Twilio support, I can also corroborate that this pertains to varied carrier partner support for the characters. I've been told by support and have verified with testing that one can force the requisite UCS2 encoding, displaying the characters, by including a [punctuation space](http://www.fileformat.info/info/unicode/char/2008/index.

[2020-08-25 16:35] theghall opened #528 "When there is an apostrophe in the body the validation of the webhook fails"
### Issue Summary
An apostrophe in the body of a text message causes validation of Twilio webhook to fail

### Steps to Reproduce
1. Send a text message with an apostrophe in it
2. try to validate the incoming webhook

### Code Snippet
[code]

### Technical details:
* twilio-ruby version: 5.40.0 (also fails with 5.37.0)
* ruby version: 2.7.1

[2020-08-25 18:15] theghall commented on #528
Debugging a little it appears as if the gem encodes the `'` as %27 via URI, whereas the signature generated by Twilio did not encode the `'` as %27.  Because if I do the calculation to generate the signature keeping the `'` as `'`, I get the signatures to match.

[2020-08-27 22:25] eshanholtz commented on #528
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-09-02 17:10] theghall commented on #528
Twilio support gave me the workaround of making the Webhook a POST instead of a GET.  My code is now as follows:

[code]

[2020-09-16 15:57] owaiswiz opened #532 "Using the new deactivation API returns a 307 response causing an "Unable to fetch record" exception"
### Issue Summary
When using the new deactivation API, an exception occurs with HTTP Error 307. A workaround for now is to catch the exception and get the redirect URL using the exception_object.response.

Similar to https://github.com/twilio/twilio-php/issues/655 and https://github.com/twilio/twilio-csharp/issues/534#issuecomment-676508898

### Steps to Reproduce
Fetch deactivated numbers list fr

[2020-09-16 16:20] childish-sambino commented on #532
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-09-21 17:59] #532 closed

[2020-10-21 06:55] jainankita90 opened #536 "unable to send messages, InvalidURIError"
### Issue Summary

Unable to send message using twilio-ruby gem. I am  getting invalid URL.
### Steps to Reproduce
I am doing this in rails env
1.edit Gemfile
2. add gem twilio-ruby, 5.10.7
2. open rails console
3. run below code
### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version:5.10.7
* ruby version:2.1.2
* rails version 4.2.1

[2020-10-21 07:39] philnash commented on #536
You are running quite an old version of the library there, the latest is 5.41.0. Can you update the version and try again?

[2020-10-22 06:45] jainankita90 commented on #536
@philnash  any version above > v5.10.7 doesnot support ruby 2.1.2.
So I cannot use other versions.

Is it possible to pass url  during initialize,
  **Twilio::REST::Client.new('SIDxxxxxxxxxxxxxxxxxxxxxx',** 'tokenxxxxx', nil, nil)

Thanks
Ankita

[2020-10-22 07:50] philnash commented on #536
That may be, but Ruby 2.1.2 is way out of support and potentially insecure: https://www.ruby-lang.org/en/downloads/. In fact Ruby 2.1.4 is over 6 years old.

It is not safe for you to be using such an old version of Ruby and you will be missing out on countless improvements to not only this gem, but many others you depend on.

That being said, I don't think this should be failing like this. Is the

[2020-10-22 08:51] jainankita90 commented on #536
I do understand that and planning to upgrade after sometime.
first four args of constructor are default nil [ref ](https://github.com/twilio/twilio-ruby/blob/513657df0835b8cb76c01eb7cf2dd30c571ecb95/lib/twilio-ruby/rest/client.rb#L18

Actually, I did tried with v5.41 and everything worked fine. But I am worried that it does not create any issue in future on production.

[2020-10-29 20:34] childish-sambino commented on #536
Not sure what the issue was in the older version, but there's been lots of improvements and fixes over the past couple years. Only 3 known bugs in the latest version, if that eases your mind: https://github.com/twilio/twilio-ruby/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22type%3A+bug%22

[2020-11-28 21:10] panSarin opened #540 "Is there any method to check if room exists?"
Do we have something that would look like:

``` client.video.rooms.exists?(room_name) ```

or we have to handle it by

[code]

if we want to add room?

And if no - should I create PR, or we don't want to add this kind of logic since we can handle error by rescue'ing it?

[2020-12-01 01:41] eshanholtz commented on #540
There is no `exists?` method to check if a room exists. The error handling logic you laid out is the preferred method, since we want to make each API call explicit. I recommend writing a helper function for yourself if you use this logic often.

[2020-12-01 10:06] panSarin commented on #540
Thanks for reply.

That makes sense, it would also probably makes sense if Twilio would have endpoint to check if room existis but since it doesn't I will stick to current approach. I am closing that one!

[2020-12-01 10:06] #540 closed

[2020-12-07 21:02] jamesr2323 opened #541 "Creating a Messaging Service resource calls does not respect Subaccount SID passed to the client"
### Issue Summary
I'm attempting create a Messaging Service under a Subaccount using the REST API. I'm able to do this via the interface, so I assume it is possible. However when I attempt to do this using the Ruby client, the Message Service is created under the main account. The expected behaviour was that I just pass the Subaccount SID when instantiating the client, as works for other resources

[2020-12-09 21:47] syoder commented on #486
Any specific recommendations? The project I'm working on is set to retry 3 times, but that doesn't seem to be enough sometimes.

[2020-12-18 00:21] eshanholtz commented on #536
Closing as recommended course of action is to update ruby version.

[2020-12-18 00:21] #536 closed

[2020-12-20 22:19] alexborovkov opened #543 "JSON format in response"
As I see it is possible to return JSON from twilio api endpoint

https://www.twilio.com/docs/usage/troubleshooting/data-types

For example I want to retrieve all messages from channel in JSON format, but this method return XML representation

```@client.chat.services(service_sid).channels(params[:channelSid]).messages.list```

Is it possible to return JSON using this gem?

[2020-12-21 17:16] srirachapills opened #544 "504 Gateway Time-out caused a JSON::ParserError"
### Issue Summary

Given Twilio API sometimes return `504 Gateway Time-out` with HTML response body, the Ruby client should not try to parse the response payload as JSON.

Some Twilio::REST::RestError is expected instead.

### Steps to Reproduce
It occurred with the following API request:
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: 5.39.2
* ruby version: 2.7.0

[2020-12-29 22:32] eshanholtz commented on #543
@alexborovkov What version of twilio-ruby are you using?

[2021-01-12 02:24] thinkingserious commented on #544
Nice catch @srirachapills and thanks for reporting it!

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2021-01-14 00:05] thinkingserious commented on #541
Hello @jamesr2323,

Thanks for taking the time to submit this issue!
To create a messaging service you will need to utilize a client where the sid and auth token are that of the subaccount. For the case of creating a messaging service, the sid is [not included in the path](https://www.twilio.com/docs/messaging/services/api?code-sample=code-create-service&code-language=curl&code-sdk-version=json).

[2021-01-30 16:29] coreydaley commented on #396
Since this hasn't been updated in quite awhile...

This is still an ongoing issue with the twilio-ruby gem, using from 25-28 MiB of memory, which is ridiculous.
If anyone is interested, here is a simple SMS example using HTTParty, which uses significantly less memory: https://gist.github.com/coreydaley/8cdcecf2cb21bbae416442c231be0d32

[2021-02-01 16:49] #543 closed

[2021-02-03 19:14] jamesr2323 commented on #541
Thanks for that - this solved my issue!

(I still think the API design is a bit confusing, but that's beyond the scope of this issue...)

[2021-02-03 19:14] #541 closed

[2021-02-10 19:37] cromulus commented on #396
It also adds a half a second to my boot time, using [Bumbler](https://github.com/nevir/Bumbler)

[2021-02-22 03:51] gnumarcelo opened #549 "Question: How to create a conversation under a specific Conversations Service"
### Issue Summary
According to the [Api reference](https://www.twilio.com/docs/conversations/api/service-resource), a Conversation Service is the top-level container for other resources in the Twilio Conversations REST API and can be used to create multiple, distinct environments (such as dev, stage, and prod) under a single Twilio account.
I've set multiples Conversations Services, but whenever I

[2021-02-22 16:41] shwetha-manvinkurke commented on #549
@gnumarcelo This doesn't look like a helper library issue to me. Please reach out to support at [support.twilio.com](https://support.twilio.com/) for help.

[2021-02-22 16:41] #549 closed

[2021-03-11 03:54] thinkingserious commented on #423
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 03:54] #423 closed

[2021-03-11 03:54] thinkingserious commented on #464
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 03:54] #464 closed

[2021-04-04 17:21] synth commented on #334
Has there been any work done on the documentation for Lookups? I looked around, including the version 5.x migration guide and I couldn't find any.

For anyone else reaching this, we're on Ruby 2.7 and changed two things:

[code]

and

[code]

[2021-04-07 20:04] JenniferMah commented on #334
Hi @synth
Here's a [link](https://www.twilio.com/docs/lookup/api) to the documentation around Lookups for ruby 5.X . We don't currently track comments on closed issues so if you have anymore questions please open a new GitHub issue in this repository.

[2021-04-07 23:50] synth commented on #334
@JenniferMah Thanks!

[2021-04-21 03:18] ni3t opened #552 "Autopilot macro incorrectly sets attribute names?"
### Issue Summary
When connecting a call to Autopilot, using this example code to call a customer, make an introduction, then redirect to an autopilot action to handle customer input, I get an error in the twilio console.

[code]

the error in the console is this:

Msg | "XML Validation warning"
line | "4"
parserMessage | " Attribute 'targetTask' is not allowed to appear in element 'Autopilot'."
E

[2021-04-21 03:20] ni3t commented on #552
I am happy to make a contribution to sidestep the lowerCamelCase step if the argument is `target_task`.

[2021-04-21 18:49] thinkingserious commented on #552
Hello @ni3t,

Thank you for the detailed report and associated PR! We have your PR on our backlog for review.

[2021-04-22 17:15] Maychell commented on #544
Hi @srirachapills and @thinkingserious - hope you're doing great!

I just opened a [PR](https://github.com/twilio/twilio-ruby/pull/554) for this issue - could you review it whenever you have free time, please?

[2021-05-10 18:41] rhuberdeau opened #555 "to_json causes and error"
### Issue Summary
Stack level too deep error when calling to_json on a response object

This is a duplicate of https://github.com/twilio/twilio-ruby/issues/423 which was closed due to "no activity"

### Steps to Reproduce
1. Call to_json on any instance of a class that inherits from Domain

@childish-sambino added a fix to the closed ticket which works for me if I add it to domain.rb
[code]

### C

[2021-05-11 23:56] JenniferMah commented on #555
Hi @rhuberdeau Thanks for opening a new issue! Can you open a PR with the fix implemented?

[2021-05-12 00:08] rhuberdeau commented on #555
Hi @JenniferMah. I'd be happy to open a PR but I wasn't able to come up with a test that replicates the bug. From what I can tell this issue doesn't pop up until the gem is installed into a Rails app.

[2021-05-23 08:51] silverscrub opened #557 "[Support] No way to fetch sms message/delivery attempts that is sent by a notification request"
### Issue Summary
Hello,
I am looking for ways to fetch sms delivery attempts by a notification request the same way that we can do it in the console at the moment. The reason is that, in my app,
1.  A notification has_many :sms_messages, and each sms_message has a sid attributes to match with Twilio's database for tracking status and synchronization.
2. When a notification request is sending mult

[2021-05-24 19:39] eshanholtz commented on #552
This requires a fix from a product team. Internal tracking ID: UN-2070

[2021-05-24 19:41] #552 closed

[2021-05-25 00:10] thinkingserious commented on #557
Hello @silverscrub,

Thank you for taking the time to report this issue!

Does [this resource](https://www.twilio.com/docs/notify/api/service-resource?code-sample=code-create-a-service-resource&code-language=Node.js&code-sdk-version=3.x#fetch-a-service-resource) contain the information you need?

With best regards,

Elmer

[2021-05-26 04:32] silverscrub commented on #557
Hi Elmer,
Unfortunately, I haven't seen any information in that specific resource that would allow me to fetch the delivery attempts of a certain notification. Seems like there are no such api request to retrieve such information.

However, in the mean time, I figured out a workaround which is to use the custom delivery callbacks when sending out a notification request.

[code]

Then, the data fro

[2021-05-26 04:32] #557 closed

[2021-06-23 08:54] OmkarArote commented on #509
Can I know the solution?

[2021-07-01 10:45] hlascelles opened #560 "Class `Autopilot` has multiple different ancestors"
### Issue Summary
Depending on how you require the gem (or parts of it) you can cause an error as some classes have different ancestor chains.

### Steps to Reproduce
1. Use gem `5.56.0` (for example)
2. ```
    require "twilio-ruby"
    require "twilio-ruby/rest/autopilot"
[code]
    twilio-ruby-5.56.0/lib/twilio-ruby/rest/autopilot/v1/assistant.rb:13:in `<module:REST>':
          superclass mism

[2021-07-01 10:46] hlascelles commented on #560
Possibly related: https://github.com/twilio/twilio-ruby/pull/558

[2021-07-01 10:50] hlascelles commented on #560
Confirmed `5.55.0` works fine.

[2021-07-01 19:20] bf4 commented on #493
related? https://github.com/twilio/twilio-ruby/pull/559

[2021-07-02 21:46] thinkingserious commented on #560
Thank you for reporting this @hlascelles!

I was able to reproduce this issue locally.

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2021-07-05 12:23] ngouy opened #561 "Unable to retrieve conversations from a UserInstance"
### Issue Summary
When I retrieve a User from conversation API, I see that the payload have a "/conversation" URL in links

proof: https://www.twilio.com/docs/conversations/api/user-resource#fetch-a-specific-user-resource

This link isn't available nor from the user API nor from the service user API (while it is for conversations service for example: https://github.com/twilio/twilio-ruby/blob/534f

[2021-07-05 12:35] ngouy commented on #561
edit:

I managed to leverage the sdk by doing
[code]

[2021-07-05 13:47] ngouy opened #562 "Conversations REST API: Unable to retrieve last page"
### Issue Summary

When querying a list, I am trying to retrieve only the last of something (if I understand it well, every of your REST API resources lists are sorted by updatedDate

As of today in the twilio conversation API, there is no way, when querying multiple resources at once, to:
- query results with a custom or at least reverse sort/order
- know the total count of the queried resource
-

[2021-07-08 16:37] shwetha-manvinkurke commented on #562
@ngouy have you explored the [pagination feature](https://www.twilio.com/docs/libraries/ruby#iterate-through-records) the library offers and see if that helps? You could do a `list` to get the total number of records and if you know the total number of records and the page size, in theory you can figure out what the last page is and query just [that page](https://github.com/twilio/twilio-ruby/blob

[2021-07-09 19:10] shwetha-manvinkurke commented on #561
Can you do something like this?
[code]
The `payload` should have everything you are looking for.

[2021-07-30 16:57] josh08h opened #564 "Creating a Flex Web Channel returns 404."
### Issue Summary
Creating a Flex Web Channel returns 404.

### Steps to Reproduce
1. Create a web_channel via the Ruby SDK
2. See below code snippet

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: 5.57.0
* ruby version: 2.7.4

[2021-08-03 00:03] JenniferMah commented on #564
Hi @josh08h!
It looks like you are missing the version in your code snippet. It should be `client.flex_api.v1.web_channel.create` with the `v1` between `flex_api` and `web_channel`. It should look similar to the syntax used on [this line](https://github.com/twilio/twilio-ruby/blob/7e218c44288b8a0954e141dfc5c8e99b5f63ffa6/spec/integration/flex_api/v1/web_channel_spec.rb#L153) of the integration tes

[2021-08-03 08:46] josh08h commented on #564
Ah yes! Thanks a lot @JenniferMah

[2021-08-03 23:53] JenniferMah commented on #564
No problem! Please feel free open a new issue if you run into another problem in the twilio-ruby library.

[2021-08-04 22:24] shwetha-manvinkurke commented on #564
@josh08h have you tried curl-ing the request and see if it goes through ok?

[2021-08-05 09:07] josh08h commented on #564
@shwetha-manvinkurke ah.. I see the same error with curl (httpie) too:

[code]

Should I raise this with Twilio support instead?

[2021-08-05 22:54] shwetha-manvinkurke commented on #564
@josh08h This points to an error in your flex setup. I recommend you reach out to support or read our [docs](https://www.twilio.com/docs/flex) for more info.

[2021-08-05 22:58] #564 closed

[2021-08-09 15:22] shwetha-manvinkurke commented on #562
Closing due to inactivity. Feel free to open another issue if further help is needed.

[2021-08-09 15:22] #562 closed

[2021-08-09 15:22] shwetha-manvinkurke commented on #561
Closing due to inactivity. Feel free to open another issue if further help is needed.

[2021-08-09 15:22] #561 closed

[2021-08-17 19:52] monelgordillo opened #567 "wrong number of arguments (given 1, expected 0)"
### Issue Summary
This issue cropped up after updating Twilio ruby gem.

I'm getting "wrong number of arguments (given 1, expected 0)".  See error log for details.  Thank you.

### Steps to Reproduce
1. return render_twilio_sms('Thanks for checking in!', phone, kitestring_phone, user)
2. def render_twilio_sms(message, to, from, user)
3. Then, error message "wrong number of arguments (given 1, expe

[2021-08-17 20:12] shwetha-manvinkurke commented on #567
Try replacing `r.message(message)` with `r.message(body: message)`

[2021-08-17 21:30] monelgordillo commented on #567
I tried it.  I'm getting something different now:

`2021-08-17T21:24:45.720325+00:00 app[web.1]: 21:24:45 web.1   | Message: undefined method `text' for #<Twilio::TwiML::MessagingResponse:0x00005600e7d45858>
2021-08-17T21:24:45.720372+00:00 app[web.1]: 21:24:45 web.1   | Stack trace:
2021-08-17T21:24:45.720417+00:00 app[web.1]: 21:24:45 web.1   |
2021-08-17T21:24:45.720452+00:00 app[web.1]: 21:24:

[2021-08-17 21:54] shwetha-manvinkurke commented on #567
[TwiML](https://github.com/twilio/twilio-ruby/blob/main/lib/twilio-ruby/twiml/twiml.rb#L29) doesn't have a method called `text`.

[2021-08-17 22:05] monelgordillo commented on #567
I figured it out from here: https://github.com/twilio/twilio-ruby/issues/314

Had to use to_s

[2021-08-17 22:17] #567 closed

[2021-08-31 18:18] navid-farjad opened #569 "Faraday::Connection is deprecated warning"
### Issue Summary
WARNING: `Faraday::Connection#basic_auth` is deprecated; it will be removed in version 2.0.
While initializing your connection, use `#request(:basic_auth, ...)` instead.

[](https://lostisland.github.io/faraday/middleware/authentication)

### Steps to Reproduce
1. run client.autopilot.assistants.create

### Code Snippet
twilio-ruby/http/http_client.rb

[code]

### Exception/Log
[

[2021-08-31 18:18] navid-farjad commented on #569
uh i see you have a pull waiting for it  :)

[2021-08-31 18:18] #569 closed

[2021-09-07 17:55] johnnyshields opened #570 "Please cut a release to fix Faraday warning"
Hi, looks like the fix for the Faraday warning is on master. Can you please cut a gem release to fix it?

[2021-09-08 20:00] JenniferMah commented on #570
Hi @johnnyshields,
Version `5.58.2` of the twilio-ruby library should include the fix for the deprecation warning on Faraday.

[2021-09-08 20:00] #570 closed

[2021-09-08 20:08] johnnyshields commented on #570
@JenniferMah thank you!

[2021-10-08 15:58] navid-farjad opened #572 "cant update query sample_id without having duplicate sample in 2 tasks"
### Issue Summary
in query object we have sample_id. if someone wants to update this sample id then there is no way to remove the old sample_id from its task as we don't have a task_id in the query object!

### Steps to Reproduce
1. update sample_id to the query (create sample_1 with tagged_text for task_1 and add sample_1 to query)
2.  update sample_id to the query (create sample_2 with tagged_te

[2021-11-05 01:46] ybiquitous opened #577 "Published gem package includes needless files"
### Issue Summary

Since v5.61.0, the published gem package has included `.yardoc/*` files. They are not necessary for most gem users.

See <https://my.diffend.io/gems/twilio-ruby/5.60.0/5.61.0>:

<img width="266" alt="image" src="https://user-images.githubusercontent.com/473530/140444261-9cba7960-0d49-4b37-a268-a8104f8d3433.png">

It seems good to configure `spec.files` in the gemspec:

https://g

[2021-11-05 17:56] #577 closed

[2021-11-15 11:48] navid-farjad commented on #572
hello @shwetha-manvinkurke , thank you for your respond,  here is the example:

1. I am assigning "Bye" to "no_emergency" task
![Screenshot from 2021-11-15 13-38-43](https://user-images.githubusercontent.com/30972233/141776187-c58e0efb-ffe3-4b6a-b86c-0b0782c94e49.png)

2. I am assigning "Bye" to "emergency" task
![Screenshot from 2021-11-15 13-39-55](https://user-images.githubusercontent.com/30972

[2021-11-26 23:47] adamgotterer opened #580 "Conference participants: Method not allowed"
### Issue Summary
Unable to get a list of conference participants

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: 5.61.1
* ruby version: 2.6.1p33

[2021-11-30 01:15] eshanholtz commented on #580
@adamgotterer unfortunately I am unable to recreate your issue with similar code. I've pasted it below for reference:
[code]
My initial instinct was to suggest double checking the correctness of your conference sid, however when I changed my test sid to an invalid sid, my error message is slightly different. If you add `puts @client.http_client.last_request` after your call to `@client.conferences

[2021-11-30 02:41] adamgotterer commented on #580
I found another way to successfully get the data I was looking for. However, your initial instinct was correct that the sid was invalid.

I copy and pasted the code you shared and the exception is the same and this is the last_request:

[code]

[2021-11-30 23:52] eshanholtz commented on #580
Do you get the expected behavior when you use the correct sid?

[2021-12-10 20:51] dan-jensen commented on #544
And it's not just a problem with 504 errors.  There is a [Twilio incident right now](https://status.twilio.com/), and many requests to Twilio's API are producing 503 responses that trigger the same bug:

[code]

[2021-12-10 20:55] chunlea commented on #544
I think Twilio should handle all 5xx error, and tread it as not JSON first. Because some error may just reply from their LB

[2021-12-10 22:07] dan-jensen commented on #544
@chunlea yep, I think you're right.  Here's a [PR to handle all 5xx errors](https://github.com/twilio/twilio-ruby/pull/582).

[2021-12-30 04:23] samuel-henry opened #585 "Getting an error trying to send an SMS with a client configured with more than the default # of retries"
### Issue Summary
Getting an error trying to send an SMS with a client configured with more than the default # of retries

### Steps to Reproduce
1. Create client with retry_limit option passed in
2. Send an SMS

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-ruby version: 5.48.0
* ruby version: Ruby 2.7 (on AWS Lambda)

[2022-01-05 22:06] eshanholtz commented on #580
Closing due to lack of customer response.

[2022-01-05 22:06] #580 closed

[2022-01-12 01:31] eshanholtz commented on #585
Hi @samuel-henry,

Where are you seeing a `retry_limit` parameter? I don't believe this is a supported client option by default, and you will likely need to [define and pass a custom HTTP client](https://www.twilio.com/docs/libraries/ruby/custom-http-clients?code-sample=code-custom-http-client-for-ruby&code-language=Ruby&code-sdk-version=default) that has your desired retry limit configured.

[2022-01-12 01:40] samuel-henry commented on #585
Hi Elise,

I saw it on https://www.rubydoc.info/gems/twilio-ruby/3.10.1/Twilio/REST/Client

We see that it's set to 1 by default:

`
API_VERSION =
'2010-04-01'
HTTP_HEADERS =
{
  'Accept' => 'application/json',
  'Accept-Charset' => 'utf-8',
  'User-Agent' => "twilio-ruby/#{Twilio::VERSION}",
}
DEFAULTS =
{
  :host => 'api.twilio.com',
  :port => 443,
  :use_ssl => true,
  :ssl_verify_peer => true

[2022-01-15 02:40] ramonrovirosa commented on #528
Same issue described above was happening to me. It was happening because the url contained a query parameter that had an apostraphe in the value
e.g. the url had an apostraphe that was encoded with `%27`
https://www.example.com?name=O%27Malley

The fix for me was to double encode the query parameters before sending the request to twilio.
e.g. https://www.example.com?name=O%2527Malley
And then make

[2022-01-22 07:05] samuel-henry commented on #585
Hi Elise,

Just checking back on this.

Thank you!
Sam

[2022-01-27 17:29] kevin-roe opened #592 ""cannot load such file -- rack/media_type" on twilio-ruby v5.63.1"
### Issue Summary
We have a gem (`email_search`)that wraps `twilio-ruby` as a part of our internal testing tools.  When we ran a bundle update yesterday and installed version `5.63.1`, we received the following error upon attempting to execute our tests: `cannot load such file -- rack/media_type`.  I have included the stack trace below.  For the fix we hard coded twilio-ruby to use version 5.63.0

[2022-02-08 01:37] eshanholtz commented on #592
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

The PR addressing this issue is in our backlog for review.

[2022-02-10 05:08] samuel-henry commented on #585
Ah, thank you Elise

I'll close this out but can you please pass along the feature request or +1 the existing backlog item to re-add this option to make it simple to configure retry strategy without having to define a custom client?

Thank you
Sam

[2022-02-10 05:08] #585 closed

[2022-02-25 14:22] silikone opened #598 "update to allow Faraday >= 2.0"
### Issue Summary
The twilio-ruby.gemspec was not updated to allow Faraday >= 2.0 when the code got updated to handle the new syntax for 2.0

### Steps to Reproduce
Read the file
Look for this line:
spec.add_dependency('faraday', '>= 0.9', '< 2.0')

### Code Snippet
The issue can be fixed by replacing the line from about with this:
spec.add_dependency('faraday', '>= 0.9', '< 3.0')

### Technical d

[2022-03-04 02:03] honkimi opened #601 "Ruby keyword-arguments issue"
### Issue Summary
I cannot buy twilio phone number in Ruby3.1.
twilio-ruby-5.65.0/lib/twilio-ruby/rest/api/v2010/account/incoming_phone_number.rb:232:in `create': wrong number of arguments (given 1, expected 0) (ArgumentError)

Reason:
https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/

### Steps to Reproduce
Just buy twilio incoming phone numb

[2022-03-04 03:39] honkimi commented on #601
Sorry, I found my implementation was wrong..

[2022-03-04 03:39] #601 closed

[2022-03-07 23:48] JenniferMah commented on #598
Hi @silikone! Thanks for opening an issue. It looks like PR #591 addresses this issue. PR #591 is currently in our team's backlog for review.

[2022-03-10 15:54] childish-sambino commented on #592
Fixed by #602

[2022-03-10 15:54] #592 closed

[2022-03-17 16:19] armiiller commented on #555
In case someone is coming here to find a fix: I found this response by @eshanholtz really helpful: https://github.com/twilio/twilio-ruby/issues/524#issuecomment-665247121

You can use the following to get the raw http response:

[2022-04-01 11:59] cilim opened #603 "Support for v3 - channel 'type' migration"
### Issue Summary
I'd like to migrate public channels to private channels using the v3 URL mentioned in the docs: https://www.twilio.com/docs/conversations/api/chat-channel-migration-resource#update-channel-type

Is there any planned support for this by the gem itself? That way, consumers could easily create a rake task which they simply run on the live environments. Without it, we're forced to cr

[2022-04-11 19:51] rakatyal commented on #603
@cilim: Could you please clarify what you are trying to accomplish? The docs you linked has ruby code example to migrate the channels to private and the gem supports that. Kindly let us know what specifically you need help with and provide us an example of your code to work with.

[2022-04-12 07:13] cilim commented on #603
@rakatyal I tried the Ruby example like so:

[code]

and got:

[code]

I believe it's because the request is sent to the v1 API endpoint, not v3.

[2022-04-21 16:01] jasonnoble opened #605 "Upgrading from 5.40.1 to 5.66.2 raises a `LoadError: cannot load such file -- rack/media_type` error"
### Issue Summary
I'm upgrading twilio-ruby from 5.40.1 to 5.66.2 and getting the following error:

[code]

It appears that this was fixed in #602 via `require 'rack/twilio_webhook_authentication' if defined?(Rack)`.  However, the `rack/media_type` is only available in rack v2 and later (I'm on rack-1.6.13).

Proposed fix:
[code]

A summary of the issue and the environment in which it occurs. If s

[2022-04-22 16:52] childish-sambino commented on #603
@cilim Is the new version able to help?

[2022-04-22 17:08] childish-sambino commented on #605
Taking a look at the PR.

[2022-04-25 09:38] cilim commented on #603
@childish-sambino unfortunately, I'm also having issues when 5.66.0 is installed.

Here's some code:

[code]

when the above code is executed, I get this error:

[code]

I pried a bit and landed in `Twilio::REST::Chat::V3::ChannelList#update`, where:

[code]

raises the error.

Here's some background on the variables I used:
- Rails.application.secrets.twilio[:api_key] - value found on https://con

[2022-04-25 14:34] v-kumar commented on #598
Any progress on this Issue and the associated PR? @JenniferMah

[2022-04-25 14:48] #605 closed

[2022-04-26 14:54] childish-sambino commented on #603
`client.chat.channels` expect 2 arguments: `service_sid` and `sid`. You'll need to pass the `service_sid` for the chat service that the channel belongs to. E.g.,
[code]

[2022-04-27 13:31] childish-sambino commented on #598
Fixed by #591

[2022-04-28 10:06] cilim commented on #603
@childish-sambino thank you for your support. That did it!

I'm just left wondering if I'll have to create new Conversation services, or will the current Chat services become Conversation services? That is, I just have to toggle public channels to private ones, and all of my message and message participants will get migrated automatically?

[2022-04-29 15:21] childish-sambino commented on #603
Sorry, I don't know the answer to that. Recommend contacting Customer Support by [filing a support ticket](https://twilio.com/help/contact).

[2022-05-02 06:34] cilim commented on #603
Thank you anyways for your support! Closing issue

[2022-05-02 06:34] #603 closed

[2022-05-02 15:11] v-kumar commented on #598
Any update on when this will be released? @childish-sambino

[2022-05-02 15:22] childish-sambino commented on #598
@v-kumar Next release in on 2022-05-04.

[2022-06-14 09:08] visionsIT opened #609 "Twillio sms special character automatically changed of @ and _ converting into ? in sms"
Twillio sms special character automatically changed of @ and _ converting into ? in sms

Please check below attached screenshots, first screen showing response of the sent message and second screen showing the actual SMS received in the mobile @ and _ sign converted to the ?

Is there anyone facing this type of issue with Twilio please guide me. Thanks in advance.

![image](https://user-images.git

[2022-06-14 22:56] rakatyal commented on #609
@visionsIT: Character encoding issues tend to be related to how the carrier networks handle special characters (GSM vs. Unicode), not the Twilio helper libraries themselves. The solution is also not universal and cannot be implemented in the libraries themselves.

I recommend you reach out to our support team to fully investigate this issue:
https://www.twilio.com/console/support/tickets/create

W

[2022-07-07 19:32] AxelTheGerman opened #611 "Wrong parameter names for postal code and locality in AvailablePhoneNumbers"
### Issue Summary

I am trying to search available phone numbers by postal code and locality and am not getting any results.

I believe this is due to wrong parameter names here: https://github.com/twilio/twilio-ruby/blob/a2033d3eaa3f9899b1d7886615ed70e5a0c5af5e/lib/twilio-ruby/rest/api/v2010/account/available_phone_number/local.rb#L304

And here https://github.com/twilio/twilio-ruby/blob/a2033d3e

[2022-07-09 04:59] AxelTheGerman commented on #611
Somehow I seem to be getting weird results with either `PostalCode` or `InPostalCode` 😭

[2022-07-12 23:14] AxelTheGerman commented on #611
Yes, thank you for looking into this @claudiachua !

I think I need to bring this back to support as it's not the fault of the Ruby SDK but in general the API behaves differently from the Twilio Console "Buy a number"

Just to document this here in case others have similar issues:

1. Searching for `Vancouver` numbers from Ruby:

[code]

2. Searching for `Vancouver` numbers from CURL:

[code]

Not

[2022-07-12 23:14] #611 closed

[2022-07-14 10:54] wjlroe opened #613 "[BUG] NoMethodError: undefined method `ascii_only?' for nil:NilClass"
### Issue Summary

The `RequestValidator` can raise an exception when it tries to validate requests
that don't have any query parameters in the url and pass a non-enumerable (e.g.
the POST body as a string) value as the params.

This happens because internally it uses `parsed_url = URI(url)` and then
`URI.decode_www_form(parsed_url.query)` - without checking whether
`parsed_url.query` is `nil`.

W

[2022-07-18 09:41] HardikPurohit commented on #509
@DRBragg , Can you please let us know the solution?

[2022-07-18 13:44] DRBragg commented on #509
Sorry @HardikPurohit and @OmkarArote at this point I dont remember what the issue was, only that it wasn't actually related to this gem. I'm sorry.

[2022-07-20 15:12] #609 closed

[2022-08-09 21:45] #613 closed

[2022-08-12 11:11] hugo-netcraft opened #616 "RequestValidator marks valid signature invalid when having multiple values attached to one parameter"
### Issue Summary

Same issue as https://github.com/twilio/twilio-python/issues/613

But to summarize, when Autopilot assigns a Field multiple values, the signature will be marked as invalid, due to the incorrect formatting of the string which is encrypted.

The proper format for the string should be the same as whats described in https://github.com/twilio/twilio-python/issues/613#issuecomment-121

[2022-08-17 16:12] claudiachua commented on #616
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog

[2022-08-26 02:39] twe4ked opened #617 "Question: Verify API error handling"
### Issue Summary
We're currently upgrading from the `Authy` gem. We're using two APIs, `verifications.create` and `verification_checks.create`. I'm wondering what I need to check on the result object that those endpoints return.

In this [migration example](https://github.com/robinske/migrate-authy-to-verify/pull/1/files#diff-f05add36d749e533ee22e21e560fbc0614aab08d7a23284213f1d43b2150e52bR35) th

[2022-08-26 04:21] twe4ked commented on #617
A bit more digging and a bit more reading of [the documentation](https://www.twilio.com/docs/verify/api/verification-check#check-a-verification) and I've worked this out.

From the docs:

So this is the status of the actual “verification check” not the result of the check. I got a bit thrown by the API returning errors for things like invalid codes.

[2022-08-26 04:21] #617 closed

[2022-09-09 19:29] lusa opened #618 "Failed to open TCP connection - Temporary failure in name resolution"
### Issue Summary
Today we saw > 15 instances of this error on connecting to the API: `Failed to open TCP connection to api.twilio.com:443 (getaddrinfo: Temporary failure in name resolution)`. Was this a result of outages on Twilio's end, or possibly a result of our gem version? Just looking to see if anyone has insight on this.

### Steps to Reproduce
Happens intermittently - cannot reproduce.

#

[2022-09-14 18:03] claudiachua commented on #618
Hi @lusa, could you provide more details, code samples for what you're trying to accomplish? And if error above is still occurring?

[2022-09-22 00:23] lusa commented on #618
error no longer appears.

[2022-09-22 00:23] #618 closed

[2022-10-20 10:56] IsmailM opened #620 "authy-devise Replacement"
Adding this Issue here as I cannot add the issue to the original repo - [Authy-devise](https://github.com/twilio/authy-devise) - as the Github repo has now been archived.

I wanted some clarification on the depreciation message in the readme in the Authy-devise Repo.

* The message says support ends on 1st November 22 - Is this just referring the customer support? I.e. will the current Authy servi

[2022-10-20 19:19] Hunga1 commented on #620
The Authy API is being deprecated and replaced with the Twilio Verify API and support will end on November 1st, 2022. Here is a link to the migration guide from Authy to Verify that is mentioned in the README.

https://www.twilio.com/blog/migrate-authy-to-verify

For any other questions, please [file a support ticket](https://twilio.com/help/contact)

[2022-10-20 19:19] #620 closed